.d-flex{
  background-color: bisque;
  border-style: solid;
}
.flex-column{
  background-color: yellowgreen;
 // border-style: solid;
}
.justify-content-center{
  background-color: rgb(4, 128, 0);
  border-color: yellow;
  border-style: solid;
}
.p-2{
  // border-color: yellowgreen;
  // background-color: orangered;
  //border-style: solid;
  //border-radius: 30%;
}
