
<app-template-full-width [title]="myTitle" *ngIf="collection$ | async as collection">

  <!-- <button (click)="changeTitle()">Change title</button> -->
  <!-- <pre>{{ collection | json }}</pre> -->
<!-- <app-header-table [headers]="headers">


  <tr *ngFor="let item of collection">
      <td>{{ item.id }}</td>
      <td>{{ item.nom }}</td>
      <td>{{ item.prenom }}</td>
    </tr>








  </app-header-table>

-->

<div class="container text-center">
  <div class="row" >
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Pointage</h5>
        <p class="card-text">SEMAINE : <span>11</span></p>

        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-2 col-sm-2">

          <div class="card Jourtitre">
            <div class="card-body">
              <h5 class="card-title">Lundi</h5>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
           <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
            <div><br></div>
            <div class="card">
              <div class="card-body">
              <h5 class="card-title">Pointage</h5>
              <p class="card-text">Heure debut: <span>10:00</span></p>
              <p class="card-text">Heure Fin: <span>12:00</span></p>
              <p class="card-text">Total : <span>02:00 </span></p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        </div>
        <div class="col-2 col-sm-2">
          <div class="card Jourtitre">
            <div class="card-body">
              <h5 class="card-title">Mardi</h5  >
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-2 col-sm-2">
          <div class="card Jourtitre">
            <div class="card-body">
              <h5 class="card-title">Mercredi</h5>
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
           <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-2 col-sm-2">
          <div class="card Jourtitre">
            <div class="card-body">
              <h5 class="card-title">Jeudi</h5>
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
           <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
           <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-2 col-sm-2">
          <div class="card Jourtitre">
            <div class="card-body">
              <h5 class="card-title">Vendredi</h5>
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div><br></div>
        <div class="card">
          <div class="card-body">
          <h5 class="card-title">Pointage</h5>
          <p class="card-text">Heure debut: <span>10:00</span></p>
          <p class="card-text">Heure Fin: <span>12:00</span></p>
          <p class="card-text">Total : <span>02:00 </span></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
      </div>
          </div>
         <div class="col-2 col-sm-2">
          <div class="card Jourtitre">
            <div class="card-body">
              <h5 class="card-title">Samedi</h5>
            </div>
          </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
          <div><br></div>
          <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pointage</h5>
            <p class="card-text">Heure debut: <span>10:00</span></p>
            <p class="card-text">Heure Fin: <span>12:00</span></p>
            <p class="card-text">Total : <span>02:00 </span></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

</app-template-full-width>
