.row {font-type: arial;
  color: yellow;
  font-weight: bold;
border-style: solid;}

.col-2 {
  border-style: ridge;
  color: yellowgreen;


}
.Jourtitre{
  color: brown;
  background-color: aquamarine;
}
